<div class="max-w-lg rounded overflow-hidden shadow-lg bg-white m-4">
    <img class="w-full chosen-image" [src]="chosenUrl" alt="funny image on card">
    <div class="px-6 py-4">
      <p class="text-gray-700 text-base text-justify fading leading-tight">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo ipsam ab temporibus corrupti quos dolorem ipsa id, beatae voluptatibus ut cupiditate explicabo alias ea laborum maiores sequi deleniti odio! Amet harum asperiores velit quaerat, consectetur aut minima ipsum distinctio molestias rem recusandae at accusamus inventore eum blanditiis ipsam, hic eligendi!
      </p>
    </div>
  </div>
