/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./custom-tailwind/custom-components.css"; // added
@import "tailwindcss/utilities";
@import "./custom-tailwind/custom-utilities.css"; // added
@import "quill/dist/quill.core.css";
@import "quill/dist/quill.bubble.css";
@import "quill/dist/quill.snow.css";

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #323232;
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

.wrapper {
  min-height: calc(100vh - 60px);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
