<div class="landing-container w-full h-screen flex">
    <div class="px-4 pt-40 sm:px-8 sm:pt-48 lg:px-16 w-full md:w-1/2">
        <div class="px-8 py-4 text-xl sm:text-2xl xl:text-3xl slogan">
            <p>We are all human.</p>
            <p>Here, we don't have to be.</p>
        </div>
        <div class="px-8 py-4 text-sm sm:text-base">
            <p>This site provides you with a topic you can write about. You can either
                choose to see random images or random writting prompts. You have 10 minutes to
                write.
            </p>
        </div>
        <div class="px-8 py-4 text-base sm:text-lg xl:text-xl slogan">
            <p>Write just for fun. Create your own stories.</p>
        </div>
        <div class="px-8 pt-8">
            <button
                class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white py-2 px-8 rounded"
                type="button" routerLink="/signup">
                Sign Up
            </button>
            <p class="text-xs pt-2">I already have an account! <a routerLink="/login" class="text-pink-500 font-bold">Login</a></p>
        </div>
    </div>
</div>
