<div class="links flex content-center">
    <div class="pr-6 hover:text-pink-500 focus:shadow-outline focus:outline-none">
        <a routerLink="/signup" routerLinkActive="text-pink-500 font-bold">Sign Up</a>
    </div>
    <div class="pr-6 hover:text-pink-500 focus:shadow-outline focus:outline-none">
        <a routerLink="/login" routerLinkActive="text-pink-500 font-bold">Login</a>
    </div>
    <div class="pr-6 hover:text-pink-500 focus:shadow-outline focus:outline-none">
        <a routerLink="/about-us" routerLinkActive="text-pink-500 font-bold">About us</a>
    </div>
</div>
