.bgcookie {
  background: url('/assets/images/bgcookie.png') no-repeat center center fixed;
  background-size: cover;
}

.slogan {
  font-family: 'Lato', sans-serif;
}

.bg-none {
  background-color: #e6e6e6
}
