<div class="w-full h-auto flex justify-center self-center py-32 welcome-container">
  <div class="relative inline-block flex flex-col justify-center items-baseline pt-8">
      <p class="text-2xl lg:text-3xl mt-4 welcome-text text-white px-6">Welcome to your dashboard!</p>
      <p class="text-base lg:text-xl welcome-text px-6 mb-6 text-white">Discover other stories:</p>
      <div class="relative px-6">
          <select class="block appearance-none w-full bg-white border border-pink-500 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-pink-500" >
            <option>Most Recent</option>
            <option>Most Liked</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-8 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
    </div>
</div>
