<div class="about-us-container w-full h-screen flex">
    <div class="px-24 py-48 w-1/2">
        <div class="px-8 py-4">
            <p class="text-3xl pb-8">Hello! This is Yagmur.</p>
            <p class="text-lg">I am a web developer who enjoys developing and designing webpages. I also like to paint walls, sing randomly and cook almost healthy dishes. I have a lovely green pacific parrotlet who makes sure nothing gets done around him. He won't tell you, but he likes hanging around me. </p>
        </div>
        <div class="px-8 py-4">
            <p class="text-lg">I also have a huge love for stories. Sad and happy. Fantasy or real. I believe we are all able to create stories, as we are living inside our own.</p>
        </div>
        <div class="px-8 pb-4 text-2xl">
            <p class="text-lg">If you like to, you can check my portfolio from <a href="https://yagmurcetintas.com/" alt="link to my portfolio" class="underline text-purple-600">here.</a></p>
        </div>
    </div>
</div>
