<div class="w-40 h-full bg-purple-400">
  <div class="flex flex-col content-center">
    <div class="mt-20 my-2 mx-auto text-white font-bold hover:text-pink-100 focus:shadow-outline focus:outline-none">
      <a routerLink="/dashboard">Dashboard</a>
    </div>
    <hr>
    <div class="my-2 mx-auto text-white font-bold hover:text-pink-100 focus:shadow-outline focus:outline-none">
      <a routerLink="/write">Write</a>
    </div>
    <hr>
    <div class="my-2 mx-auto text-white font-bold hover:text-pink-100 focus:shadow-outline focus:outline-none">
      <a routerLink="/profile">Profile</a>
    </div>
    <hr>
    <div class="my-2 mx-auto text-white font-bold hover:text-pink-100 focus:shadow-outline focus:outline-none">
      <a routerLink="/settings">Settings</a>
    </div>
    <hr>
    <div class="my-2 mx-auto text-white font-bold hover:text-pink-100 focus:shadow-outline focus:outline-none">
      <a routerLink="/login" (click)="handleLogout()">Logout</a>
    </div>
    <hr>
    <div class="my-8 mx-auto text-white text-xl hover:text-pink-100 focus:shadow-outline focus:outline-none">
      <a routerLink="/">▼・ᴥ・▼</a>
    </div>
  </div>
</div>
