<header class="absolute w-full md:w-4/5 lg:w-3/4 xl:w-3/5 pt-4 px-6 pb-2 flex justify-between">
  <div class="w-40">
    <a routerLink="/"><img src="assets/images/logo.svg" alt="logo"></a>
  </div>
  <div class="h-8 flex justify-between items-center">
    <button type="button" class="focus:outline-none w-8 inline sm:hidden">
      <img src="assets/images/burger.svg" alt="burger icon" (click)="onClick($event)" *ngIf="!open">
    </button>
    <app-navbar-landing-links class="hidden sm:block"></app-navbar-landing-links>
  </div>
</header>

<div class="flex flex-row justify-end">
  <div *ngIf="open" class=" w-screen h-screen bg-gray-100" (click)="onClick($event)"></div>
  <app-navbar-side *ngIf="open" (click)="onClick($event)"></app-navbar-side>
</div>
