<div class="w-full h-32 flex justify-center self-center pt-8 border border-b-purple-500 bg-purple-300">
  <div class="relative inline-block flex justify-center items-baseline">
      <p class="text-base md:text-lg lg:text-xl mt-12 welcome-text px-6 text-white">Welcome to your dashboard! If you want to sort stuff: </p>
      <div class="relative">
          <select class="block appearance-none w-full bg-white border border-pink-500 py-2 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-pink-500" >
            <option>Most Recent</option>
            <option>Most Liked</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
        </div>
    </div>
</div>
